.table-operation {
  margin-top: 20px;
  float: left;
}

.table-header {
  th {
    background-color: #F3F7FF !important;
  }
}

.table-page {
  margin-top: 20px;
  float: right;
}

.t-r {
  text-align: right;
}

.t-c {
  text-align: center;
}

.m-r-0 {
  margin-right: 0 !important;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.w-120 {
  width: 120px !important;
}

.w-220 {
  width: 220px !important;
}

.w-240 {
  width: 240px !important;
}

.w-480 {
  width: 480px !important;
}

.w-274 {
  width: 274px !important;
}

.w-200 {
  width: 200px !important;
}


//popover弹出框
.issuance {
  .title {
    width: 100%;
    height: 30px;
    text-align: center;
    background: #5062c1;
  }
}

// textarea计数
.textarea-position {
  position: relative;
  .textarea-num {
    position: absolute;
    right: 15px;
    bottom: 0;
    color: #959595;
  }
}