.upload-container-direction-column {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  .upload-preview {
    img {
      max-width: 100%;
    }
  }
}

.upload-container-direction-row {
  min-width: 150px;
  display: flex;
  flex-direction: row;
  img {
    margin: 0 10px 10px 0;
  }
}

.multiple-upload {
  .item {
    display: inline-flex !important;
    flex-direction: column;
    margin-right: 15px;
  }
  .single-upload {
    display: inline-block !important;
  }
  .remove {
    text-align: center;
  }
}

.single-upload {
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  div,
  .preview-img {
    height: 100%;
    width: 100%;
  }
  .el-upload,
  .preview-img,
  .uploading,
  .upload-error,
  .empty {
    border: 1px dashed #d9d9d9;
  }
  .el-upload {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    &:hover {
      border-color: #5062c1;
    }
    .upload-icon {
      font-size: 28px;
      color: #8c939d;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
  }
  .preview-img {
    position: absolute;
    z-index: 0;
  }
  .uploading,
  .upload-error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    p {
      line-height: initial;
      &:first-of-type {
        padding: 0 15px;
        text-align: center;
        word-break: keep-all;
      }
    }
  }
  .upload-error {
    color: #f56c6c;
    background-color: hsla(0, 0%, 100%, 0.9);
  }
}
.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 20px;
    height: 20px;
    margin-right:5px;
  }
}

/* 预览手机样式 */

.preview-phone {
  box-sizing: content-box;
  background: #111;
  border-radius: 55px;
  box-shadow: 0 0 0 2px #aaa;
  width: 320px;
  height: 520px;
  padding: 105px 25px;
  position: relative;
  margin: auto;
}

.preview-phone::before {
  content: '';
  width: 60px;
  height: 10px;
  border-radius: 10px;
  background: #333;
  position: absolute;
  left: 50%;
  top: 50px;
  margin-left: -30px;
}

.preview-phone::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
  border-radius: 100%;
  box-sizing: border-box;
  border: 5px solid #333;
}

.preview-phone h1 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.preview-phone p {
  font-size: 12px;
  color: #cecece;
}

.preview-phone .content {
  margin-top: 20px;
  background: #fff;
  height: 100%;
  iframe {
    border: none;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
}

.preview-phone .status-bar {
  position: absolute;
  width: 320px;
  height: 20px;
  left: 50%;
  margin-left: -160px;
  top: 100px;
  background: url('../images/status-bar.png');
  background-size: 100% auto;
}

.upload-container-direction-column {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  .upload-preview {
    img {
      max-width: 100%;
    }
  }
}

.upload-container-direction-row {
  min-width: 150px;
  display: flex;
  flex-direction: row;
  img {
    margin-right: 10px;
  }
}

.print-frame {
  border: none;
  width: 100%;
  height: 600px;
}

.dialog-select {
  height: 36px;
  width: 100%;
  padding: 0 15px;
  border-radius: 2px;
  border: 1px solid #dcdfe6;
  color: #606266;
  font-size: 14px;
  outline: none; // -webkit-appearance: none;
  // -webkit-border-radius: 0px;
}

.imgType {
  width: 20px;
  height: 20px;
}

// 店铺审核对话框样式
.review-title {
  text-align: center;
  font-weight: bold;
}

// 问答管理-查看回复样式
.answer-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
